@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.product_text{
    background-color: #fafafb;
    
    h3{
        text-align: center;
        font-family: 'Poppins';
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        padding: 14.5px;
        margin-bottom: 43px;

        span{
            color: #33a0ff;
        }
    }   
}



.wrapper{
    display: flex;
    justify-content: space-between;
    
    .product{
        
        .in_product{
            margin-top: 43px;
            margin-bottom: 77px;
            display: flex;
            gap: 54px;
            align-items: center;
            
            .single_img{
                width: auto;
                img{
                    max-width: 375px;
                    height: 470px;
                }
            }
        
            .about_product{
                h2{
                    font-family: 'Poppins';
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 36px;
                    margin-bottom: 22.41px;
                }
        
                .rating{
                    display: flex;
                    gap: 17px;
                    align-items: center;
        
                    .stars{
                        display: flex;
                        gap: 5px;
        
                        .star_full{
                            color: #ffc600;
                        }
                        .emp_star{
                            color: #c1c8ce;
                        }
        
                    }
        
                    .rate{
                        font-family: 'Poppins';
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19px;
                        color: #c1c8ce;
                    }
        
                    .count{
                        font-family: 'Poppins';
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19px;
                        color: #33a0ff;
                    }
                }
        
                .line{
                    border: 2px solid #f6f7f8;
                    margin-top: 19px;
                    margin-bottom: 28px;
                }
        
                .div_p{
                    display: flex;
                    gap: 9px;
                    align-items: center;
                    margin-bottom: 29px;
        
                    .discount{
                        
                        font-family: 'Poppins';
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 21px;
                        letter-spacing: 0.5px;
                        color: #fb7181;
                        text-decoration: none !important ;
                        display: flex;
                        gap: 9px;
                        
                        span{
                            font-family: 'Poppins';
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 21px;
                            letter-spacing: 0.5px;
                            text-decoration: line-through ;
                            color: #9998b1;
                        }
                    }
            
                    .price{
                        font-family: "Poppins";
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 36px;
                        letter-spacing: 0.5px;
                        text-align: end;
                        color: #40bfff;
                    }
                }
        
                .about_buy{
                    display: flex;
                    gap: 70px;
        
                    .buy{
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
        
                        p{
                            font-family: 'Poppins';
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 21px;
                        }
                    }
                }
        
                .change{
                    .change_color{
                        display: flex;
                        align-items: center;
                        gap: 30px;
        
                        p{
                            font-family: 'Poppins';
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 21px;
                        }
        
                    }
                    .change_size{
                        display: flex;
                        align-items: center;
                        gap: 100px;
        
                        p{
                            font-family: 'Poppins';
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 21px;
                        }
        
                        select{
                            padding: 11px 16px;
                            border: 3px solid #f6f7f8;
                            border-radius: 5px;
                            outline: none;
                            
                        }
                    }
        
        
                }
        
                .buttons{
                    display: flex;
                    align-items: center;
                    gap: 150px;
        
                    .PlusMinus{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 30px;
                        padding: 15px 13px;
                        background-color: #f6f7f8;
                        width: auto;
                        border-radius: 10px;
        
                        button{
                            border: none;
                            background-color: #f6f7f8;
                            font-family: 'Poppins';
                            font-weight: 400;
                            font-size: 30px;
                            line-height: 20px;
                            color: #33a0ff;
                            
                        }
                        button:hover{
                            transform: scale(1.4);
                            transition: 0.1s;
                        }
        
                        h5{
                            font-family: 'Poppins';
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }
        
                    .card{
                        display: flex;
                        gap: 17px;
        
                        button{
                            padding: 16px 21px;
                            display: flex;
                            align-items: center;
                            gap: 15px;
                            border-radius: 10px;
                            border: none;
                            background-color: #ebf6ff;
                            color: #33a0ff;
        
                        }
                    }
        
                }
        
                .social_buttons{
                    display: flex;
                    gap: 11px;
        
                    .btn_1{
                        padding: 14px 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 13px;
                        border: none;
                        border-radius: 5px;
                        width: 100%;
                        color: white;
                        background-color: #385c8e;
                        border: 1px solid #385c8e;

                    }

                    .btn_1:hover{
                        background-color: white;
                        color: #385c8e;
                        border: 1px solid #385c8e;
                        transition: 0.2s;
                    }
                    .btn_2{
                        padding: 14px 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 13px;
                        border: none;
                        border-radius: 5px;
                        width: 100%;
                        color: white;
                        background-color: #03a9f4;
                        border: 1px solid #03a9f4;

                    }

                    .btn_2:hover{
                        background-color: white;
                        color: #03a9f4;
                        border: 1px solid #03a9f4;
                        transition: 0.2s;
                    }
                }
            }
        }
    
        .product_infor{
            margin-bottom: 77px;
            padding: 35px 32px;
            background-color: #fafafb;
            border-radius: 10px;
            max-width: 924px;
    
            .theme{
                display: flex;
                gap: 80px;
                height: 0;
    
                .h3{
                    font-family: 'Poppins';
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27px;
                    height: 0;
                    
                    span{
                        
                        font-size: 16px;
                        line-height: 20px;
                        color: #c4c4c5;
                    }
                }
                .h4{
                    font-family: 'Poppins';
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27px;
                    color: #33a0ff;
                    height: 0;
                }
            }
    
            .line{
                border: 2px solid #e5e8ea;
                margin-top: 41px;
                margin-bottom: 22px;
            }
    
            .p_div{
                display: flex;
                flex-direction: column;
                gap: 15px;
                padding-right: 160px;
    
                p{
                    font-family: 'Poppins';
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 21.6px;
                    color: #9098b1;
                }
            }
        }
    }

    .swiper_product{
        margin-top: 43px;

        h4{
            font-family: 'Poppins';
            font-size: 18px;
            font-weight: 400;
            line-height: 36px;
            margin-bottom: 21px;
            color: #c1c8ce;
        }

        .swiper {
            width: 300px;
            height: 500px;
          }
          
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
          
            /* Center slide text vertically */
            display: flex;
            justify-content: center;
            align-items: center;
        }
          
        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .swiper_card{
            display: flex;
            flex-direction: column;

            a{
                text-decoration: none;
            }

            img{
                height: 300px;
                margin-bottom: 53px;
            }

            .stars{
                display: flex;
                gap: 5px;
                margin-bottom: 12px;
                align-items: center;
                justify-content: center;

                .star_full{
                    color: #ffc600;
                }
                .emp_star{
                    color: #c1c8ce;
                }

            }

            .div_p{
                display: flex;
                gap: 9px;
                align-items: center;
                margin-bottom: 29px;
                justify-content: center;
    
                .discount{
                    
                    font-family: 'Poppins';
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 21px;
                    letter-spacing: 0.5px;
                    color: #fb7181;
                    text-decoration: none !important ;
                    display: flex;
                    gap: 9px;
                    
                    span{
                        font-family: 'Poppins';
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        text-decoration: line-through ;
                        color: #9998b1;
                    }
                }
        
                .price{
                    font-family: "Poppins";
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    color: #ff4858;
                }
            }
        }
    }

}

h4{
    text-align: center;
    margin-bottom: 84px;
    font-family: 'Poppins';
    font-size: 35px;
    font-weight: 600;
    line-height: 53px;
}

.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 34.5px;
    margin-bottom: 87px;

    
    .best_card{
        border: 3px solid #e2e2e2;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
            align-items: center;
            padding: 10px;
            position: relative;

            .best_img{
                position: relative;
                overflow: hidden;
                justify-content: center;

                img{
                    max-width: 240px;
                    height: 272.5px;
                }
            }

            .about{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: 7px;

                h3{
                    text-align: center;
                    font-family: 'Poppins';
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 27px;
                    letter-spacing: 0.5px;
                    color: #223263; 
                }
    
                .div_p{
                    display: flex;
                    justify-content: space-between;
                    gap: 13px;
                    align-items: center;
        
                    .discount{
                        
                        font-family: 'Poppins';
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 27px;
                        letter-spacing: 0.5px;
                        color: #fb7181;
                        text-decoration: none !important ;
                        
                        span{
                            font-family: 'Poppins';
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 27px;
                            letter-spacing: 0.5px;
                            text-decoration: line-through ;
                            color: #9998b1;
                        }
                    }
            
                    .price{
                        font-family: "Poppins";
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 32px;
                        letter-spacing: 0.5px;
                        text-align: end;
                        color: #40bfff;
                    }
                }

                .star{
                    display: flex;
                    gap: 13.65px;

                    .star_full{
                        color: #ffc600;
                    }

                    .emp_star{
                        color: #c1c8ce;
                        width: 13.8px;
                        height: 15.14px;
                    }
                }
            }

            a{
                text-decoration: none;
            }
            a:hover{
                transform: scale(1.05);
                transition: 0.2s;
            }

            .hover_div{
                width: 100%;
                height: 290px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                background-color: rgba(255, 255, 255, 0.89);
                top: 0px;
                transform: translateY(100%);
                transition: 0.5s;

                .icons_hover{
                    display: flex;
                    gap: 10px;

                    .img{
                        padding: 17px;
                        border: 3px solid #f1f8fe;
                        color: #40bfff;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .img:hover{
                        border: 3px solid #40bfff;
                    }
                }
            }


    }
}

.best_img:hover .hover_div{
    transform: translateY(0);
}

@media (max-width:1170px){
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .product{
            
            .in_product{
                margin-top: 43px;
                margin-bottom: 77px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 50px;
                
                .single_img{
                    width: auto;
                    img{
                        max-width: 375px;
                        height: 470px;
                    }
                }
            
                .about_product{
                    h2{
                        font-family: 'Poppins';
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 36px;
                        margin-bottom: 22.41px;
                    }
            
                    .rating{
                        display: flex;
                        gap: 17px;
                        align-items: center;
            
                        .stars{
                            display: flex;
                            gap: 5px;
            
                            .star_full{
                                color: #ffc600;
                            }
                            .emp_star{
                                color: #c1c8ce;
                            }
            
                        }
            
                        .rate{
                            font-family: 'Poppins';
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 19px;
                            color: #c1c8ce;
                        }
            
                        .count{
                            font-family: 'Poppins';
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 19px;
                            color: #33a0ff;
                        }
                    }
            
                    .line{
                        border: 2px solid #f6f7f8;
                        margin-top: 19px;
                        margin-bottom: 28px;
                    }
            
                    .div_p{
                        display: flex;
                        gap: 9px;
                        align-items: center;
                        margin-bottom: 29px;
            
                        .discount{
                            
                            font-family: 'Poppins';
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 21px;
                            letter-spacing: 0.5px;
                            color: #fb7181;
                            text-decoration: none !important ;
                            display: flex;
                            gap: 9px;
                            
                            span{
                                font-family: 'Poppins';
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 21px;
                                letter-spacing: 0.5px;
                                text-decoration: line-through ;
                                color: #9998b1;
                            }
                        }
                
                        .price{
                            font-family: "Poppins";
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 36px;
                            letter-spacing: 0.5px;
                            text-align: end;
                            color: #40bfff;
                        }
                    }
            
                    .about_buy{
                        display: flex;
                        gap: 70px;
            
                        .buy{
                            display: flex;
                            flex-direction: column;
                            gap: 16px;
            
                            p{
                                font-family: 'Poppins';
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 21px;
                            }
                        }
                    }
            
                    .change{
                        .change_color{
                            display: flex;
                            align-items: center;
                            gap: 30px;
            
                            p{
                                font-family: 'Poppins';
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 21px;
                            }
            
                        }
                        .change_size{
                            display: flex;
                            align-items: center;
                            gap: 100px;
            
                            p{
                                font-family: 'Poppins';
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 21px;
                            }
            
                            select{
                                padding: 11px 16px;
                                border: 3px solid #f6f7f8;
                                border-radius: 5px;
                                outline: none;
                                
                            }
                        }
            
            
                    }
            
                    .buttons{
                        display: flex;
                        align-items: center;
                        gap: 150px;
            
                        .PlusMinus{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 30px;
                            padding: 15px 13px;
                            background-color: #f6f7f8;
                            width: auto;
                            border-radius: 10px;
            
                            button{
                                border: none;
                                background-color: #f6f7f8;
                                font-family: 'Poppins';
                                font-weight: 400;
                                font-size: 30px;
                                line-height: 20px;
                                color: #33a0ff;
                                
                            }
                            button:hover{
                                transform: scale(1.4);
                                transition: 0.1s;
                            }
            
                            h5{
                                font-family: 'Poppins';
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 20px;
                            }
                        }
            
                        .card{
                            display: flex;
                            gap: 17px;
            
                            button{
                                padding: 16px 21px;
                                display: flex;
                                align-items: center;
                                gap: 15px;
                                border-radius: 10px;
                                border: none;
                                background-color: #ebf6ff;
                                color: #33a0ff;
            
                            }
                        }
            
                    }
            
                    .social_buttons{
                        display: flex;
                        gap: 11px;
            
                        .btn_1{
                            padding: 14px 30px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 13px;
                            border: none;
                            border-radius: 5px;
                            width: 100%;
                            color: white;
                            background-color: #385c8e;
                            border: 1px solid #385c8e;
    
                        }
    
                        .btn_1:hover{
                            background-color: white;
                            color: #385c8e;
                            border: 1px solid #385c8e;
                            transition: 0.2s;
                        }
                        .btn_2{
                            padding: 14px 30px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 13px;
                            border: none;
                            border-radius: 5px;
                            width: 100%;
                            color: white;
                            background-color: #03a9f4;
                            border: 1px solid #03a9f4;
    
                        }
    
                        .btn_2:hover{
                            background-color: white;
                            color: #03a9f4;
                            border: 1px solid #03a9f4;
                            transition: 0.2s;
                        }
                    }
                }
            }
        
            .product_infor{
                margin-bottom: 77px;
                padding: 35px 32px;
                background-color: #fafafb;
                border-radius: 10px;
                max-width: 924px;
                display: none;
        
                .theme{
                    display: flex;
                    gap: 80px;
                    height: 0;
        
                    .h3{
                        font-family: 'Poppins';
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 27px;
                        height: 0;
                        
                        span{
                            
                            font-size: 16px;
                            line-height: 20px;
                            color: #c4c4c5;
                        }
                    }
                    .h4{
                        font-family: 'Poppins';
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 27px;
                        color: #33a0ff;
                        height: 0;
                    }
                }
        
                .line{
                    border: 2px solid #e5e8ea;
                    margin-top: 41px;
                    margin-bottom: 22px;
                }
        
                .p_div{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    padding-right: 160px;
        
                    p{
                        font-family: 'Poppins';
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 21.6px;
                        color: #9098b1;
                    }
                }
            }
        }
    
        .swiper_product{
            margin-top: 43px;
    
            h4{
                font-family: 'Poppins';
                font-size: 18px;
                font-weight: 400;
                line-height: 36px;
                margin-bottom: 21px;
                color: #c1c8ce;
            }
    
            .swiper {
                width: 300px;
                height: 500px;
              }
              
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
              
                /* Center slide text vertically */
                display: flex;
                justify-content: center;
                align-items: center;
            }
              
            .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            
            .swiper_card{
                display: flex;
                flex-direction: column;
    
                a{
                    text-decoration: none;
                }
    
                img{
                    height: 300px;
                    margin-bottom: 53px;
                }
    
                .stars{
                    display: flex;
                    gap: 5px;
                    margin-bottom: 12px;
                    align-items: center;
                    justify-content: center;
    
                    .star_full{
                        color: #ffc600;
                    }
                    .emp_star{
                        color: #c1c8ce;
                    }
    
                }
    
                .div_p{
                    display: flex;
                    gap: 9px;
                    align-items: center;
                    margin-bottom: 29px;
                    justify-content: center;
        
                    .discount{
                        
                        font-family: 'Poppins';
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 21px;
                        letter-spacing: 0.5px;
                        color: #fb7181;
                        text-decoration: none !important ;
                        display: flex;
                        gap: 9px;
                        
                        span{
                            font-family: 'Poppins';
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 20px;
                            text-decoration: line-through ;
                            color: #9998b1;
                        }
                    }
            
                    .price{
                        font-family: "Poppins";
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        color: #ff4858;
                    }
                }
            }
        }
    
    }

    .products{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 34.5px;
        margin-bottom: 87px;
        padding: 0 50px;
    
        
        .best_card{
            border: 3px solid #e2e2e2;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
                align-items: center;
                padding: 10px;
                position: relative;
    
                .best_img{
                    position: relative;
                    overflow: hidden;
                    justify-content: center;
    
                    img{
                        max-width: 240px;
                        height: 272.5px;
                    }
                }
    
                .about{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    gap: 7px;
    
                    h3{
                        text-align: center;
                        font-family: 'Poppins';
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 27px;
                        letter-spacing: 0.5px;
                        color: #223263; 
                    }
        
                    .div_p{
                        display: flex;
                        justify-content: space-between;
                        gap: 13px;
                        align-items: center;
            
                        .discount{
                            
                            font-family: 'Poppins';
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 27px;
                            letter-spacing: 0.5px;
                            color: #fb7181;
                            text-decoration: none !important ;
                            
                            span{
                                font-family: 'Poppins';
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 27px;
                                letter-spacing: 0.5px;
                                text-decoration: line-through ;
                                color: #9998b1;
                            }
                        }
                
                        .price{
                            font-family: "Poppins";
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 32px;
                            letter-spacing: 0.5px;
                            text-align: end;
                            color: #40bfff;
                        }
                    }
    
                    .star{
                        display: flex;
                        gap: 13.65px;
    
                        .star_full{
                            color: #ffc600;
                        }
    
                        .emp_star{
                            color: #c1c8ce;
                            width: 13.8px;
                            height: 15.14px;
                        }
                    }
                }
    
                a{
                    text-decoration: none;
                }
                a:hover{
                    transform: scale(1.05);
                    transition: 0.2s;
                }
    
                .hover_div{
                    width: 100%;
                    height: 290px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    background-color: rgba(255, 255, 255, 0.89);
                    top: 0px;
                    transform: translateY(100%);
                    transition: 0.5s;
    
                    .icons_hover{
                        display: flex;
                        gap: 10px;
    
                        .img{
                            padding: 17px;
                            border: 3px solid #f1f8fe;
                            color: #40bfff;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
    
                        .img:hover{
                            border: 3px solid #40bfff;
                        }
                    }
                }
    
    
        }
    }
}

@media (max-width:900px){
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .product{
            
            .in_product{
                margin-top: 43px;
                margin-bottom: 77px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 0 50px;
                
                .single_img{
                    width: auto;
                    img{
                        max-width: 375px;
                        height: 470px;
                    }
                }
            
                .about_product{
                    h2{
                        font-family: 'Poppins';
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 36px;
                        margin-bottom: 22.41px;
                    }
            
                    .rating{
                        display: flex;
                        gap: 17px;
                        align-items: center;
            
                        .stars{
                            display: flex;
                            gap: 5px;
            
                            .star_full{
                                color: #ffc600;
                            }
                            .emp_star{
                                color: #c1c8ce;
                            }
            
                        }
            
                        .rate{
                            font-family: 'Poppins';
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 19px;
                            color: #c1c8ce;
                        }
            
                        .count{
                            font-family: 'Poppins';
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 19px;
                            color: #33a0ff;
                        }
                    }
            
                    .line{
                        border: 2px solid #f6f7f8;
                        margin-top: 19px;
                        margin-bottom: 28px;
                    }
            
                    .div_p{
                        display: flex;
                        gap: 9px;
                        align-items: center;
                        margin-bottom: 29px;
            
                        .discount{
                            
                            font-family: 'Poppins';
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 21px;
                            letter-spacing: 0.5px;
                            color: #fb7181;
                            text-decoration: none !important ;
                            display: flex;
                            gap: 9px;
                            
                            span{
                                font-family: 'Poppins';
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 21px;
                                letter-spacing: 0.5px;
                                text-decoration: line-through ;
                                color: #9998b1;
                            }
                        }
                
                        .price{
                            font-family: "Poppins";
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 36px;
                            letter-spacing: 0.5px;
                            text-align: end;
                            color: #40bfff;
                        }
                    }
            
                    .about_buy{
                        display: flex;
                        gap: 70px;
            
                        .buy{
                            display: flex;
                            flex-direction: column;
                            gap: 16px;
            
                            p{
                                font-family: 'Poppins';
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 21px;
                            }
                        }
                    }
            
                    .change{
                        .change_color{
                            display: flex;
                            align-items: center;
                            gap: 30px;
            
                            p{
                                font-family: 'Poppins';
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 21px;
                            }
            
                        }
                        .change_size{
                            display: flex;
                            align-items: center;
                            gap: 100px;
            
                            p{
                                font-family: 'Poppins';
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 21px;
                            }
            
                            select{
                                padding: 11px 16px;
                                border: 3px solid #f6f7f8;
                                border-radius: 5px;
                                outline: none;
                                
                            }
                        }
            
            
                    }
            
                    .buttons{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        align-items: center;
                        
                        .PlusMinus{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 30px;
                            padding: 15px 13px;
                            background-color: #f6f7f8;
                            width: auto;
                            border-radius: 10px;
            
                            button{
                                border: none;
                                background-color: #f6f7f8;
                                font-family: 'Poppins';
                                font-weight: 400;
                                font-size: 30px;
                                line-height: 20px;
                                color: #33a0ff;
                                
                            }
                            button:hover{
                                transform: scale(1.4);
                                transition: 0.1s;
                            }
            
                            h5{
                                font-family: 'Poppins';
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 20px;
                            }
                        }
            
                        .card{
                            display: flex;
                            gap: 17px;
            
                            button{
                                padding: 16px 21px;
                                display: flex;
                                align-items: center;
                                gap: 15px;
                                border-radius: 10px;
                                border: none;
                                background-color: #ebf6ff;
                                color: #33a0ff;
            
                            }
                        }
            
                    }
            
                    .social_buttons{
                        display: flex;
                        flex-direction: column;
                        gap: 11px;
            
                        .btn_1{
                            padding: 14px px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 13px;
                            border: none;
                            border-radius: 5px;
                            width: 100%;
                            color: white;
                            background-color: #385c8e;
                            border: 1px solid #385c8e;
    
                        }
    
                        .btn_1:hover{
                            background-color: white;
                            color: #385c8e;
                            border: 1px solid #385c8e;
                            transition: 0.2s;
                        }
                        .btn_2{
                            padding: 14px 30px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 13px;
                            border: none;
                            border-radius: 5px;
                            width: 100%;
                            color: white;
                            background-color: #03a9f4;
                            border: 1px solid #03a9f4;
    
                        }
    
                        .btn_2:hover{
                            background-color: white;
                            color: #03a9f4;
                            border: 1px solid #03a9f4;
                            transition: 0.2s;
                        }
                    }
                }
            }
        
            .product_infor{
                margin-bottom: 77px;
                padding: 35px 32px;
                background-color: #fafafb;
                border-radius: 10px;
                max-width: 924px;
                display: none;
        
                .theme{
                    display: flex;
                    gap: 80px;
                    height: 0;
        
                    .h3{
                        font-family: 'Poppins';
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 27px;
                        height: 0;
                        
                        span{
                            
                            font-size: 16px;
                            line-height: 20px;
                            color: #c4c4c5;
                        }
                    }
                    .h4{
                        font-family: 'Poppins';
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 27px;
                        color: #33a0ff;
                        height: 0;
                    }
                }
        
                .line{
                    border: 2px solid #e5e8ea;
                    margin-top: 41px;
                    margin-bottom: 22px;
                }
        
                .p_div{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    padding-right: 160px;
        
                    p{
                        font-family: 'Poppins';
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 21.6px;
                        color: #9098b1;
                    }
                }
            }
        }
    
        .swiper_product{
            margin-top: 43px;
    
            h4{
                font-family: 'Poppins';
                font-size: 18px;
                font-weight: 400;
                line-height: 36px;
                margin-bottom: 21px;
                color: #c1c8ce;
            }
    
            .swiper {
                width: 300px;
                height: 500px;
              }
              
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
              
                /* Center slide text vertically */
                display: flex;
                justify-content: center;
                align-items: center;
            }
              
            .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            
            .swiper_card{
                display: flex;
                flex-direction: column;
    
                a{
                    text-decoration: none;
                }
    
                img{
                    height: 300px;
                    margin-bottom: 53px;
                }
    
                .stars{
                    display: flex;
                    gap: 5px;
                    margin-bottom: 12px;
                    align-items: center;
                    justify-content: center;
    
                    .star_full{
                        color: #ffc600;
                    }
                    .emp_star{
                        color: #c1c8ce;
                    }
    
                }
    
                .div_p{
                    display: flex;
                    gap: 9px;
                    align-items: center;
                    margin-bottom: 29px;
                    justify-content: center;
        
                    .discount{
                        
                        font-family: 'Poppins';
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 21px;
                        letter-spacing: 0.5px;
                        color: #fb7181;
                        text-decoration: none !important ;
                        display: flex;
                        gap: 9px;
                        
                        span{
                            font-family: 'Poppins';
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 20px;
                            text-decoration: line-through ;
                            color: #9998b1;
                        }
                    }
            
                    .price{
                        font-family: "Poppins";
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        color: #ff4858;
                    }
                }
            }
        }
    
    }

    .products{
        display: grid;
        grid-template-columns: 1fr ;
        gap: 34.5px;
        margin-bottom: 87px;

    
        
        .best_card{
            border: 3px solid #e2e2e2;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            position: relative;
            max-width: 300px;
            margin: 0 auto;

    
            .best_img{
                position: relative;
                overflow: hidden;
                justify-content: center;

                img{
                    max-width: 240px;
                        height: 272.5px;
                    }
                }
    
                .about{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    gap: 7px;
    
                    h3{
                        text-align: center;
                        font-family: 'Poppins';
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 27px;
                        letter-spacing: 0.5px;
                        color: #223263; 
                    }
        
                    .div_p{
                        display: flex;
                        justify-content: space-between;
                        gap: 13px;
                        align-items: center;
            
                        .discount{
                            
                            font-family: 'Poppins';
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 27px;
                            letter-spacing: 0.5px;
                            color: #fb7181;
                            text-decoration: none !important ;
                            
                            span{
                                font-family: 'Poppins';
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 27px;
                                letter-spacing: 0.5px;
                                text-decoration: line-through ;
                                color: #9998b1;
                            }
                        }
                
                        .price{
                            font-family: "Poppins";
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 32px;
                            letter-spacing: 0.5px;
                            text-align: end;
                            color: #40bfff;
                        }
                    }
    
                    .star{
                        display: flex;
                        gap: 13.65px;
    
                        .star_full{
                            color: #ffc600;
                        }
    
                        .emp_star{
                            color: #c1c8ce;
                            width: 13.8px;
                            height: 15.14px;
                        }
                    }
                }
    
                a{
                    text-decoration: none;
                }
                a:hover{
                    transform: scale(1.05);
                    transition: 0.2s;
                }
    
                .hover_div{
                    width: 100%;
                    height: 290px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    background-color: rgba(255, 255, 255, 0.89);
                    top: 0px;
                    transform: translateY(100%);
                    transition: 0.5s;
    
                    .icons_hover{
                        display: flex;
                        gap: 10px;
    
                        .img{
                            padding: 17px;
                            border: 3px solid #f1f8fe;
                            color: #40bfff;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
    
                        .img:hover{
                            border: 3px solid #40bfff;
                        }
                    }
                }
    
    
        }
    }
}




