@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.cards{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .cards_1{
        margin-bottom: 121px;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .card_1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 197px;
            img{
                margin-bottom: 54px;
            }

            h4{
                font-family: 'Poppins';
                font-weight: 500;
                font-size: 27px;
                line-height: 40.5px;
                margin-bottom: 12px;
            }

            p{
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 18px;
                line-height: 21.92px;
                text-align: center;
                color: #22262a;
            }
        }
    }
    .cards_2{

        margin-bottom: 110px;
        h3{
            font-family: 'Poppins';
            font-weight: 600;
            font-size: 34px;
            line-height: 51px;
            margin-bottom: 72px;
            text-align: center;
        }


        .Cards_2{
            display: flex;
            justify-content: space-between;
            gap: 100px;

            .card_2{
                display: flex;
                align-items: center;
                gap: 20px;

                img{
                    width: 100%;
                }
    
                .text{
                    h6{
                        font-family: 'Poppins';
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 27px;
                        color: #c1c8ce;
                        margin-bottom: 2.2px;
                    }
    
                    h5{
                        font-family: 'Poppins';
                        font-weight: 600;
                        font-size: 22px;
                        line-height: 33px;
                    }
    
                    p{
                        font-family: 'Poppins';
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 22px;
                    }
                }
            }
        }


    }
    .cards_3{

        margin-bottom: 110px;
        h3{
            font-family: 'Poppins';
            font-weight: 600;
            font-size: 34px;
            line-height: 51px;
            margin-bottom: 72px;
            text-align: center;
        }


        .Cards_3{
            display: flex;
            justify-content: space-between;
            gap: 50px;

            .card_3{
                display: flex;
                align-items: center;
                gap: 20px;

                img{
                    width: 100%;
                    max-width: 130px;
                }
    
                .text{
                    display: flex;
                    flex-direction: column;
                    gap: 17px;
                    h5{
                        font-family: 'Poppins';
                        font-weight: 400;
                        font-size: 22px;
                        line-height: 26.8px;
                        color: #262626;
                    }
    
                    p{
                        font-family: 'Poppins';
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 30px;
                        color: #ff4858;
                        
                        span{
                            font-family: 'Poppins';
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 24.36px;
                            text-decoration: line-through;
                            color: #c1c8ce;
                        }
                    }
                }
            }
        }


    }

    .input{
        width: 633px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 96px;

        input{
            border: 2px solid #bcddfe;
            border-radius: 5px;
            outline: 0;
            padding: 20px;
            color: rgb(38, 38, 38);
            font-family: Poppins;
            font-size: 18px;
            font-weight: 400;
            line-height: -1px;
            letter-spacing: 0%;
            width: 100%;
        }
        button{
            padding: 26px 27.5px;
            color: white;
            background-color: #40bfff;
            border: none;
            border-radius: 0 5px 5px 0;
            border: 1px solid #40bfff;
        }

        button:hover{
            background-color: white;
            color: #40bfff;
            border: 1px solid #40bfff;
            transition: 0.2s;

        }
    }

}

.star{
    display: flex;
    gap: 13.65px;

    .star_full{
        color: #ffc600;
    }

    .emp_star{
        color: #c1c8ce;
        width: 13.8px;
        height: 15.14px;
    }
}

@media only screen and (max-width: 1120px){
    
    .cards_2{

        margin-bottom: 110px;
        h3{
            font-family: 'Poppins';
            font-weight: 600;
            font-size: 34px;
            line-height: 51px;
            margin-bottom: 72px;
            text-align: center;
        }


        .Cards_2{
            display: flex;
            justify-content: space-between;
            gap: 100px;
            flex-direction: column;

            .card_2{
                display: flex;
                align-items: center;
                gap: 20px;
    
                .text{
                    h6{
                        font-family: 'Poppins';
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 27px;
                        color: #c1c8ce;
                        margin-bottom: 2.2px;
                    }
    
                    h5{
                        font-family: 'Poppins';
                        font-weight: 600;
                        font-size: 22px;
                        line-height: 33px;
                    }
    
                    p{
                        font-family: 'Poppins';
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 22px;
                    }
                }
            }
        }


    }
    .cards_3{

        margin-bottom: 110px;
        h3{
            font-family: 'Poppins';
            font-weight: 600;
            font-size: 34px;
            line-height: 51px;
            margin-bottom: 72px;
            text-align: center;
        }


        .Cards_3{
            display: flex;
            justify-content: space-between;
            gap: 50px;
            flex-direction: column;

            .card_3{
                display: flex;
                align-items: center;
                gap: 20px;
    
                .text{
                    display: flex;
                    flex-direction: column;
                    gap: 17px;
                    h5{
                        font-family: 'Poppins';
                        font-weight: 400;
                        font-size: 22px;
                        line-height: 26.8px;
                        color: #262626;
                    }
    
                    p{
                        font-family: 'Poppins';
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 30px;
                        color: #ff4858;
                        
                        span{
                            font-family: 'Poppins';
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 24.36px;
                            text-decoration: line-through;
                            color: #c1c8ce;
                        }
                    }
                }
            }
        }


    }
}

@media only screen and (max-width: 640px){

    .cards{
        .input{
            display: none;
        }

    }
}

@media only screen and (max-width: 550px){
    .cards_1{
        margin-bottom: 121px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
        width: 100%;

        .card_1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 197px;
            img{
                margin-bottom: 54px;
            }

            h4{
                font-family: 'Poppins';
                font-weight: 500;
                font-size: 27px;
                line-height: 40.5px;
                margin-bottom: 12px;
            }

            p{
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 18px;
                line-height: 21.92px;
                text-align: center;
                color: #22262a;
            }
        }
    }
}


