@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.admin_text{
    display:flex;
    flex-direction: column;
    gap: 44px;
    margin-bottom: 500px;

    h1{
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 40px;
        line-height: 60px;
        line-height: -2%;
    }

    .admin_p{
        display: flex;
        flex-direction: column;
        gap: 26px;

        p{
            font-family: 'Poppins';
            font-weight: 300;
            font-size: 16px;
            line-height: 28.8px;
            letter-spacing: 0.5px;
        }
    }

    button{
        padding: 15px;
        width: 100%;
        max-width: 338px;
        border: 1px solid #33a0ff;
        background-color: #33a0ff;
        border-radius: 10px;
        font-family: 'Nunito Sans';
        font-weight: 800;
        font-size: 24px;
        line-height: 32.74px;
        letter-spacing: -2%;
        color: white;


    }

    button:hover{
        border: 1px solid #33a0ff;
        background-color: white;
        color: #33a0ff;
        transition: 0.2s;

    }
}